

    .div {
    border: 1px solid black;
    height:300px;
    width:300px;
    background : url("http://previews.123rf.com/images/alexvectors/alexvectors1411/alexvectors141100137/33677569-Hanging-snowflakes-and-Christmas-balls-EPS-10-Vector-illustration-for-your-design-Christmas-template-Stock-Vector.jpg");
    background-size: 700px 700px;
    background-repeat: no-repeat;
    padding:15px;
   
}



